WHISPERCPP_BASE_URL=http://192.168.1.141:8080
WHISPERCPP_INFERENCE_PATH=/inference
WHISPERCPP_MODEL_PATH=models/ggml-base.en.bin
WHISPERCPP_LANGUAGE=en
WHISPERCPP_TEMPERATURE=0.0
WHISPERCPP_TEMPERATURE_INC=0.2
WHISPERCPP_RESPONSE_FORMAT=json
SAMPLE_RATE=16000
